@media(min-width:600px) {
    .special_offers_text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        }}

        @media(min-width:600px) {
            .special_offers_foto {
                display: grid;
                  -webkit-box-pack: center;      
            justify-content: center;  
        border: 5px solid;        }}

        .special_offers_foto {
            display: grid;
            grid-template-columns: repeat(12, 1fr);

        }