@media(min-width:600px) {
    .travel_planing_professional {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
       grid-template-rows: repeat(8, 5vw);
        border: solid;
        padding: 15px;
                }
}
.travel_planing>h2 {
    text-align: center;
    font-size: 28px;}

    .planing_block>.text_image>h3 {
        color: #b2a385;
        padding-bottom: 10px;
    
}
.planing_foto {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    }

.planing_block>.icon_image {
    width: 150px;
    padding-right: 60px;}

    .text-planing_other>.planing_block {
        display: flex;
        padding-right: 10%;
      
    }
    .travel_planing_text {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 6;
    border-left: 15px;
    text-align:justify ;
    padding: 10px;
    }
    
    

