@media(min-width:600px) {
    .travel_planing_professional {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        }
}
.travel_planing>h2 {
    text-align: center;
    font-size: 28px;}

    .planing_block>.text_image>h3 {
        color: #b2a385;
        padding-bottom: 10px;
    
}
.planing_foto {
    width: 90%;
padding-left: 20%;}

.planing_block>.icon_image {
    width: 100px;
    padding-right: 40px;}

    .text-planing_other>.planing_block {
        display: flex;
        padding-top: 10px;
        padding-right: 10px;
    }
    
    
    

